<div class="header-image ladder-slider-bg page-header d-all t-all m-all">
</div>
<div class="page vacancies-page">
  <div class="wrapper">
    <div class="d1-d8 t1-t4 content">
      <h1>Vacancies</h1>
      <div class="joblistings m-all">
        <% @vacancies.each_with_index do |vacancy, i| %>
          <div class="joblisting <%= i.even? ? 'box-lightgray' : 'box-darkgray' %>">
            <section>
              <h3 class='vacancy-title'><%= vacancy.title %></h3>
              
              <div class="d1-d3">
                <h4>Vacancy Type</h4>
                <p><%= vacancy.vacancy_type %></p>
              </div>
              
              <div class="d4-d6">
                <h4>Location</h4>
                <p><%= vacancy.location %></p>
              </div>

              <div class="d7-d9">
                <h4>Rate of pay</h4>
                <p><%= vacancy.salary_information %></p>
              </div>
              <div class="d1-d11">
                <h4>Vacancy Description:</h4>
                <p><%= sanitize(vacancy.description[0,130], tags: ['p']) %></p>
              </div>
            </section>
            <div class="d-all">
              <%= link_to 'Read More', vacancy_path(vacancy), class: 'btn' %>
              <%= link_to 'Apply', new_vacancy_application_path(vacancy: vacancy), class: 'btn' %>
            </div>
          </div>
        <% end %>
        <%= paginate @vacancies %>
      </div>
    </div>
     <div class="d10-d12 t6-t8 sidebar">
      <%= render 'shared/sidebar_search' %>
      <%= render 'shared/download_box' %>
    </div>
  </div>
</div>