<%
meta :title => @vacancy.title + " | C&C Search",
     :description => sanitize(@vacancy.description[0,180])
%>
<div class="header-image ladder-slider-bg page-header d-all t-all m-all">
</div>
<div class="page">
  <div class="wrapper">
    <div class="d1-d8 t1-t4 content">
      <h1><%= @vacancy.title %></h1>
    </div>
    <div class="d1-d8 t1-t4 m-all">
      <div class="job-details d-all m-all">
        <div class="details">
          <h3>Details</h3>
          <div class="d1-d3 m1-m3">
            <h4>Vacancy Type</h4>
            <p><%= @vacancy.vacancy_type %></p>
          </div>
          
          <div class="d4-d6 m1-m3">
            <h4>Location</h4>
            <p><%= @vacancy.location %></p>
          </div>

          <div class="d7-d9 m1-m3">
            <h4>Rate of pay</h4>
            <p><%= @vacancy.salary_information %></p>
          </div>
        </div>
      </div>
      <div class="d1-d11 t1-t7 content">
        <h4>Vacancy Description:</h4>
        <div class="jobdescription">
          <%= sanitize @vacancy.description %>
        </div>

        <%= link_to 'Apply', new_vacancy_application_path(vacancy: @vacancy), class: 'btn' %>
      </div>
    </div>
     <div class="d10-d12 t6-t8 sidebar">
      <%= render 'shared/sidebar_search' %>
      <%= render 'shared/download_box' %>
    </div>
  </div>
</div>