<div class="joblistings">
  <% @recent_vacancies.each_with_index do |vacancy, i| %>
    <div class="box-small <%= i.even? ? 'box-lightgray' : 'box-darkgray' %> joblisting">  
      <section>
        <h3><%= link_to vacancy.title, vacancy_path(vacancy) %></h3>
        <h4>Vacancy Type</h4>
        <p><%= vacancy.vacancy_type %></p>
        
        <h4>Location</h4>
        <p><%= vacancy.location %></p>

        <h4>Rate of Pay</h4>
        <p class='rate-of-pay'><%= vacancy.salary_information %></p>
      </section>
      <%= link_to 'Apply', new_vacancy_application_path(vacancy: vacancy), class: 'btn' %>
    </div>

  <% end %>
</div>