<div class="header-image bank-station-slider-bg page-header d-all t-all m-all">
</div>
<div class="page contact-page m-all">
  <div class="wrapper">
    <div class="content d1-d8 t-all">
      <div class="contact d-all t1-t3">
        <h1>Contact Us</h1>
        <%= form_for @enquiry do |f| %>
          <%= f.text_field :name, placeholder: 'Name' %>
          <%= f.text_field :email, placeholder: 'Email' %>
          <%= f.text_area :message, placeholder: 'Message' %>
          <%= f.submit 'Send' %>
        <% end %>
      </div>
        <div class="contact-info t5-t8 d-all m-all">
          <h2>Find Us</h2>
          <div class="d1-d5">
            <p>
              <span class="strong">Telephone:</span>
              0203 475 3885<br />
              <span class="strong">Email:</span>
              info@candcsearch.co.uk
            </p>
            <p>We are just a short walk from Bank Tube Station</p>
          </div>
          <div class="d6-d12">
            <p>
              <span class="strong">Address</span><br />
              41 Lothbury<br />
              London<br />
              EC2R 7HG<br />
              United Kingdom
            </p>
          </div>
        </div>
      <div class="d-all t-all m-all">
        <iframe width='100%' height='300px' class='map' frameBorder='0' src='http://a.tiles.mapbox.com/v3/soloweb.i092ipbi/attribution,zoompan,zoomwheel,geocoder,share.html#17/51.514716/-0.087690'></iframe>
      </div>
    </div>
    <div class="d10-d12 m-all sidebar">
      <%= render 'shared/job_listings' %>
      <%= render 'shared/download_box' %>
    </div>
  </div>
</div>