<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!-- Use title if it's in the page YAML frontmatter -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%= metamagic title: "Biscuit Recruitment" %>
        <%= stylesheet_link_tag "application" %>
        <link rel="shortcut icon" href="favicon.ico">

        <!--[if lte IE 8]>
          <link rel="stylesheet" type="text/css" href="/assets/gridset/gridset-ie-lte8.css?">
          <link rel="stylesheet" type="text/css" href="/assets/ie-fixes.css?">
          <script type="text/javascript" src="/assets/placeholder.js"></script>
          
          <script type="text/javascript" src="/assets/ss-gizmo.js"></script>
          <script type="text/javascript" src="/assets/ss-standard.js"></script>
          <script type="text/javascript" src="/assets/ss-social.js"></script>
        <![endif]-->

        <script src="//use.typekit.net/pej2upe.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

        <%= javascript_include_tag :modernizr %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="page-wrap">
          <%= render 'shared/header' %>
          <%= yield %>
        </div>
        <%= render 'shared/footer' %>

        <%= javascript_include_tag "application" %>
        
        <% flash.each do |name, msg| %>
          <script type="text/javascript">
            alertify.<%= name %>('<%= msg %>');
          </script>
        <% end %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->

        <% if Rails.env.development? %>
            <%= javascript_include_tag :gridset_overlay %>
        <% end %>
    </body>
</html>
