<div class="header-image ladder-slider-bg page-header d-all t-all m-all">
</div>
<div class="page t-all">
  <div class="wrapper">
    <div class="d1-d8 t1-t4 content">
      <h1>Apply for the role of <%= @vacancy.title %></h1>
      <%= form_for @vacancy_application do |f| %>
        <%= f.hidden_field :vacancy_id, value: @vacancy.id %>
        <%= f.label :title %>
        <%= f.select :title, ['Ms', 'Miss', 'Mrs', 'Mr', 'Dr', 'Prof'] %>
        <%= f.text_field 'applicant_first_name', placeholder: 'First Name' %>
        <%= f.text_field 'applicant_last_name', placeholder: 'Last Name' %>
        <%= f.text_field 'applicant_email', placeholder: 'Email' %>
        <%= f.label 'cv', 'CV' %>
        <%= f.file_field 'cv' %>
        <%= f.label 'cover_letter', 'Cover Letter' %>
        <%= f.file_field 'cover_letter' %>
        <%= f.submit 'Apply' %>
      <% end %>
    </div>
     <div class="d10-d12 t6-t8 sidebar">
      <%= render 'shared/sidebar_search' %>
      <%= render 'shared/download_box' %>
    </div>
  </div>
</div>